 .navbar-expand-lg .navbar-nav .nav-link {
   padding-top: 1rem;
   padding-left: .5rem; // Specific CSS for your home-page
 }


 // colors palette
 $background: #c28024;
 $background-m: #daf4fe;

 .shadow-sm {
   box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
 }

 .shadow {
   box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
   box-shadow: 0 .15rem 1.75rem 0 rgba(99, 99, 99, .5) !important;
 }

 .shadow-lg {
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
 }

 .shadow-none {
   box-shadow: none !important
 }


 .form-inline div {
   display: inline-block
 }