<h1>All Bookings</h1>
  <% if @bookings.any? %>
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= link_to "Booking ##{booking.id}", booking_path(booking) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No bookings available.</p>
  <% end %>
