<div class="row justify-content-center align-content-between mt-4"></div>
<div class=" bg-light col-12 col-lg-4 mt-4">
  <!--try the components inside -->
  <!--end of try the components inside -->
</div>
</div>
