.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  overflow:auto;
  border-radius: 20%;

}


#boatPhotosCarousel {
  border-radius: 15px; /* Adjust the border-radius as needed */
  overflow: hidden;

  /* Ensure rounded corners clip the images */
}

.carousel-inner {
  border-radius: 10px; /* Adjust the border-radius as needed */
  overflow: hidden;
  /* Ensure rounded corners clip the images */
}

.carousel-item img {
  border-radius: 10px;
   /* Adjust the border-radius as needed */

}
.container-shadow-border {
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
  padding: 20px; /* Add padding for better appearance */
}

// .lats{
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Adjust the values as needed */
//   padding: 15px; /* Optional: Add padding to create space for the shadow */
// }
