.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 20%;

}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// #boatPhotosCarousel {
//   width: 100%;
//   max-height: 400px;
//   overflow: hidden;
// }

// .carousel-inner {
//   width: 100%;
//   max-height: 400px;
// }

// .carousel-item {
//   text-align: center;
// }

// .carousel-item img {
//   max-width: 100%;
//   max-height: 100%;
//   object-fit: cover;
// }

// .carousel-control-prev, .carousel-control-next {
//   width: 5%;
// }

// .carousel-control-prev-icon, .carousel-control-next-icon {
//   height: 50px;
//   width: 50px;
//   background-color: rgba(0, 0, 0, 0.5);
//   border-radius: 50%;
// }
// #boatPhotosCarousel {
//   width: 100%; /* Set the width to 100% */
//   max-height: 500px; /* Adjust the max-height as needed */
//   overflow: hidden;
// }

// .carousel-inner {
//   width: 100%;
//   max-height: 500px; /* Adjust the max-height as needed */
// }

// .carousel-item img {
//   max-width: 100%;
//   max-height: 100%;
//   object-fit: cover;
// }
#boatPhotosCarousel {
  border-radius: 15px; /* Adjust the border-radius as needed */
  overflow: hidden;

  /* Ensure rounded corners clip the images */
}

.carousel-inner {
  border-radius: 15px; /* Adjust the border-radius as needed */
  overflow: hidden;
  /* Ensure rounded corners clip the images */
}

.carousel-item img {
  border-radius: 15px;
   /* Adjust the border-radius as needed */

}
.container-shadow-border {
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
  padding: 20px; /* Add padding for better appearance */
}
