// .mapboxgl-popup {
//   max-width: 200px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: "Open Sans", sans-serif;
// }

.custom-popup-container {
  background-color: #ffffff; /* Set the background color as desired */
  border: 1px solid #a0b1c2; /* Set the border color */
  border-radius: 10px; /* Set the border-radius to control the rounding of corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a lifted effect */
  padding: 10px; /* Add padding for better spacing inside the popup */
}
.custom-popup-container h2 {
  font-size: 1.5rem; /* Adjust the font size */
  color: #3e9925; /* Set the text color */
  margin-bottom: 10px; /* Add bottom margin for spacing */
}

.custom-popup-container p {
  font-size: 0.8rem; /* Adjust the font size */
  color: #495057; /* Set the text color */
  margin-bottom: 0; /* Remove default bottom margin to control spacing */
}
