<div class="custom-popup-container">
<div class="container ">
  <div class="row">
    <div class="col text-center">
      <h2 class="h6 "><%= boat.title %></h2>
      <p class="mb-0"><%= boat.description %></p>
      <p class="mb-0 text-muted"><%= boat.location %></p>
    </div>
  </div>
</div>
</div>
