<div class="container-fluid">
  <div class="row">
    <section class="col-6">
      <div class="row"><%= render 'fleets' %></div>
    </section>
    <section class="map col-6">
      <div class="container my-3">
        <h1>&nbsp; </h1>
        <%= render "form-card", boat: @boat %>
      </div>
    </div>
  </section>
</div>
</div>
