<div class="container-fluid"  data-controller="toggle">
  <div class="row">
    <section class="col-6">
      <div class="row"><%= render 'fleets' %></div>
    </section>
    <section class="map col-6">
      <div class="container my-3 d-none" data-toggle-target='toggleableElement'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= render "form-card", boat: @boat %>
      </div>
    </div>
  </section>
</div>
